<template>
    <swiper
        :direction="'vertical'"
        :slidesPerView="1"
        :spaceBetween="30"
        :mousewheel="true"
        :pagination="{
            clickable: true,
        }"
        :modules="modules"
        class="mySwiper"
    >
        <swiper-slide>
            <div>
                <HeaderComponent/>
                <SliderComponent/>
                <CardPersonsComponent/>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div>
                <HeaderComponent/>
                <BannerComponent/>
                <DetailsHelpComponent/>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div>
                <HeaderComponent  />
                <RecommendationComoponent  />
                <RecommendationNumversComponent  />
            </div>
        </swiper-slide>
        <swiper-slide>
            <div>
                <HeaderComponent />
                <PartnersComponent/>
            </div>
        </swiper-slide>
    </swiper>
</template>

<script setup>
    import HeaderComponent from '@/components/HeaderComponent.vue'
    import SliderComponent from "@/components/SliderComponent.vue"
    import CardPersonsComponent from "@/components/CardPersonsComponent.vue"
    import BannerComponent from '@/components/BannerComponent.vue'
    import DetailsHelpComponent from '@/components/DetailsHelpComponent.vue'
    import RecommendationComoponent from '@/components/RecommendationComoponent.vue'
    import RecommendationNumversComponent from '@/components/RecommendationNumversComponent.vue'
    import PartnersComponent from '@/components/PartnersComponent.vue'
    import SwiperCore, {
    Keyboard,
    Mousewheel,
    HashNavigation,
    A11y,
  } from 'swiper'
  SwiperCore.use([Keyboard, Mousewheel, A11y, HashNavigation])
</script>
<script>
 import { Swiper, SwiperSlide } from 'swiper/vue';

// Import Swiper styles
import 'swiper/css';

import 'swiper/css/pagination';


// import required modules
import { Mousewheel, Pagination } from 'swiper';

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    return {
      modules: [Mousewheel, Pagination],
    };
  },
};
</script>

<style>
    .carousel .v-btn--active > .v-btn__overlay, .v-btn[aria-haspopup=menu][aria-expanded=true] > .v-btn__overlay {
          opacity: 0 !important;
    }
    .carousel .v-btn__content{
        color: grey;
    }
    .carousel .v-btn--active .v-btn__content{
        color: white;
    }
    .mySwiper{
        height: 100vh;
    }
</style>