<template>
    <div class="background">
        <v-container class="h-100 d-flex flex-column justify-center align-center">
            <h2 class="text title-text">Мы всегда на защите Ваших интересов.</h2>
            <span class="text text-roboto text-center py-4" >Оставьте заявку на бесплатную консультацию, <br/> и мы свяжемся с Вами в ближайшее время.</span>
            <v-btn :ripple="false" rounded="xl" size="large" class="text-roboto me-3">Оставить заявку</v-btn>
        </v-container>
    </div>
</template>

<script>

</script>

<style scoped>
    .background{
        width: 100%;
        height: 380px;
        background-color: var(--red-legal);
        background-image: url(./../assets/group.svg);
        background-position-x: center;
        background-position-y: center;
    }
    .title-text{
        font-size: 40px;
    }
</style>