<template>
    <v-container class="pt-6">
        <div class="card-container">
            <v-card
                variant="text"
                max-width="300px"
                v-for="person in infoPersons" :key="person.name"
            >
                <v-img
                    :src="`./src/assets/${person.img}`"
                    height="200px"
                    cover
                ></v-img>
                <v-card-title class="px-0">
                    {{person.name}}
                </v-card-title>
                <v-card-text class="pa-0 post text-roboto">
                    {{person.post}}
                </v-card-text>
                <v-card-text class="px-0 text-roboto" >
                    {{person.post_text}}
                </v-card-text>
                    <v-btn :ripple="false" 
                        link="true" 
                        href="https://ya.ru/" 
                        variant="plain" 
                        class="ps-0"
                        width="40">
                        <v-img src="./../assets/mail.svg"></v-img>
                    </v-btn>
                    <v-btn :ripple="false" 
                        link="true" 
                        href="https://ya.ru/" 
                        variant="plain" 
                        class="ps-0"
                        width="40">
                        <v-img src="./../assets/telegram.svg"></v-img>
                    </v-btn>
                    <v-btn :ripple="false" 
                        link="true" 
                        href="https://ya.ru/" 
                        variant="plain" 
                        class="ps-0"
                        width="40">
                        <v-img src="./../assets/whatsapp.svg"></v-img>
                    </v-btn>
                    <v-btn :ripple="false" 
                        link="true" 
                        href="https://ya.ru/" 
                        variant="plain" 
                        class="ps-0"
                        width="40">
                        <v-img src="./../assets/facebook.svg"></v-img>
                    </v-btn>
            </v-card>
        </div>
    </v-container>
</template>

<script>

export default {
    data(){
        return{
            infoPersons: [
                {
                    img: "men.png",
                    name: "Запольский Сергей",
                    post: "УПРАВЛЯЮЩИЙ ПАРТНЕР",
                    post_text: "Управляющий партнер, доктор юридических наук, профессор, заслуженный юрист Российской Федерации."
                },
                {
                    img: "women.png",
                    name: "Краскова Инна",
                    post: "АДВОКАТ, СТАРШИЙ ПАРТНЁР, К.Ю.Н",
                    post_text: "20-летний опыт адвокатской практики по защите доверителей в уголовном судопроизводстве по уголовным делам различной специфики."
                },
                {
                    img: "women.png",
                    name: "Соколова Анастасия",
                    post: "АДВОКАТ, СТАРШИЙ ПАРТНЕР",
                    post_text: "Имеет обширную практику по делам о должностных преступлениях, нарушении правил ведения работ и охраны труда, причинения вреда при необходимой обороне."
                },
                {
                    img: "men.png",
                    name: "Цыплаков Денис",
                    post: "АДВОКАТ",
                    post_text: "Работа юристом предполагает практическое применение абстрактных юридических теорий и знаний для решения конкретных проблем."
                },
            ]
        }
    }
} 
</script>

<style lang="css">
    .v-btn--size-default{
        min-width: 0;
    }
    .post{
        color: var(--red-legal);
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
</style>
