<template>
    <v-container class="pt-6">
        <div class="card-container">
            <v-card
                variant="text"
                max-width="300px"
            >
                <v-card-text class="pa-0 title-card">
                    Мы поможем в любой ситуации
                </v-card-text>
                <v-list density="compact">
                    <v-list-item
                        v-for="(item, i) in text_list"
                        :key="i"
                        :value="item"
                        disabled 
                        class="pa-0"
                    >
                        <template v-slot:prepend>
                        <v-icon icon="mdi-circle-small"  width="10"></v-icon>
                        </template>

                        <v-list-item-subtitle class="pa-0 text-li">{{ item }}</v-list-item-subtitle>
                    </v-list-item>
                </v-list>
                <v-btn :ripple="false" class="text-roboto text-red pa-0" variant="plain">ПОДРОБНЕЕ</v-btn>
            </v-card>
            <v-card
                variant="text"
                max-width="300px"
            >
                <v-img
                    src="./../assets/help-img1.png"
                    height="200px"
                    cover
                ></v-img>
                <v-card-text class="px-0 title-card">
                    Физическим <br/> лицам
                </v-card-text>
                <v-card-text class="pa-0 text-roboto text-card">
                    Защита прав потребителей, наследство, недвижимость, представительство в суде, семейные споры, трудовые споры.
                </v-card-text>
            </v-card>
            <v-card
                variant="text"
                max-width="300px"
            >
                <v-img
                    src="./../assets/help-img2.png"
                    height="200px"
                    cover
                ></v-img>
                <v-card-text class="px-0 title-card">
                    Юридическим <br/> лицам
                </v-card-text>
                <v-card-text class="pa-0 text-roboto text-card">
                    Защита прав потребителей, наследство, недвижимость, представительство в суде, семейные споры, трудовые споры.
                </v-card-text>
            </v-card>
            <v-card
                variant="text"
                max-width="300px"
            >
            <v-img
                    src="./../assets/help-img3.png"
                    height="200px"
                    cover
                ></v-img>
                <v-card-text class="px-0 title-card">
                    Уголовные <br/> дела
                </v-card-text>
                <v-card-text class="pa-0 text-roboto text-card">
                    Защита прав потребителей, наследство, недвижимость, представительство в суде, семейные споры, трудовые споры.
                </v-card-text>
            </v-card>
        </div>
    </v-container>
</template>

<script>
export default {
    data(){
        return{
            text_list: ['Защита прав потребителей','наследство','недвижимость', 'представительство в суде','семейные споры','трудовые споры','Защита прав потребителей','наследство','недвижимость', 'представительство в суде','семейные споры','трудовые споры']
        }
    }
}
</script>

<style scoped>
    .title-card{
        font-size: 30px;
    } 
     
    .title-card.v-card-text {
        line-height: 2.25rem;
    }
    .text-card{
        color: grey;
    }
    .v-list{
        overflow: hidden;
    }
</style>
<style>
    .v-list-item__prepend{
        width: 30px !important;
    }
    .v-list-item--disabled{
        opacity: 1 !important;
    }
    .v-list-item--density-compact.v-list-item--one-line{
        min-height: 0 !important;
    }
    .v-list-item-subtitle{
        opacity: 1 !important;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .v-btn--variant-plain {
        opacity: 1;
    }
</style>