<template>
        <v-card>
            <v-container class="py-0">
                <v-toolbar color="white"
                    height="73"
                    prominent
                > 
                <div>
                    <v-img
                        src="./../assets/logo.svg"
                        width="150"
                    >
                    </v-img>
                </div>
                    <v-spacer></v-spacer>
                        <v-btn :ripple="false"
                        variant="plain"
                        height="100%"
                        color="black"
                        >
                            О бюро
                        </v-btn>
                        <v-btn :ripple="false"
                        variant="plain"
                        height="100%"
                        color="black"
                        >
                            Команда
                        </v-btn>
                        <v-btn :ripple="false"
                        variant="plain"
                        height="100%"
                        color="black"
                        >
                            Услуги
                        </v-btn>
                        <v-btn :ripple="false"
                        variant="plain"
                        height="100%"
                        color="black"
                        >
                            Контакты
                        </v-btn>
                        
                        <v-spacer></v-spacer>
                        <v-btn :ripple="false"
                        variant="plain"
                        height="100%"
                        class="red-text"
                        ><v-img width="26" src="./../assets/clockwise.svg"></v-img>+7 (499) 460-09-99</v-btn>
                
                    
                    </v-toolbar>
            </v-container>
        </v-card>
</template>

<script setup>
  //
</script>
<style scoped>
    
    .v-btn--variant-plain {
        opacity: 1;
    }
</style>

<style>
    .red-text{
        color: var(--red-legal) !important;
    }
</style>
