<template>
    <v-container class="container-company">
        <p class="text-h3">Наши клиенты</p>
        <v-toolbar color="#F2F5F9">
            <v-img src="./../assets/company-1.png"></v-img>
            <v-img src="./../assets/company-2.svg"></v-img>
            <v-img src="./../assets/company-3.svg"></v-img>
            <v-img src="./../assets/company-4.svg"></v-img>
        </v-toolbar>
    </v-container>
    <v-layout>
        <v-footer class="footer">
            <v-container class="container-footer">
                <div class="d-flex justify-space-between align-center">
                    <div>
                        <v-img src="./../assets/logo-white.svg" width="200"></v-img>
                    </div>
                    <v-btn :ripple="false" rounded="xl" size="large" color="white" class="text-roboto">Связатья</v-btn>
                </div>
                <div class="text-contact">
                    <p class="text text-roboto">Область юридической практики в области гражданских прав юридическая консультация — это применение абстрактных принципов права к конкретным фактам дела клиента.</p>
                    <p class="text text-roboto text-h6">Контакты</p>
                    <p class="text text-roboto ps-4">zpmoscow.com info@zpmoscow.com <br/>+7 499 460-00-99<br/> 125009, г. Москва,<br/> Бол. Кисловский пер.,<br/> д. 1, стр. 2, оф. 303</p>
                </div>
                <div class="d-flex justify-space-between align-center">
                    <p class="text text-roboto">© 2023 Запольский и партнеры.</p>
                    <p class="text text-roboto">Политика обработки персональных данных.</p>
                </div>
            </v-container>
        </v-footer>
    </v-layout>
</template>

<script>
    export default {

    }
</script>

<style scoped>
    .container-company{
        height: 305px;
        background: #F2F5F9;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .footer{
        background: var(--black-legal);
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .text-contact{
        display: grid;
        grid-template-columns: 230px 260px; 
        grid-column-gap: 10px;  
        padding-top: 20px; 
    }
    .text-contact .text:first-child{
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .container-footer{
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
</style>