<template>
    <v-carousel
        hide-delimiter-background
        delimiter-icon="mdi-checkbox-blank-circle-outline"
        color="white"
        height="380"
        delimiter-icon-variant="plain"
        :cycle="true"
        class="carousel"
    >
    <template v-slot:prev="{ props }">
        <v-btn :ripple="false"
            variant="plain"
            @click="props.onClick"
        >
            <v-img src="./../assets/chevron-left.svg"></v-img>
        </v-btn>
    </template>
    <template v-slot:next="{ props }">
        <v-btn :ripple="false"
            variant="plain"
            @click="props.onClick"
        >
            <v-img src="./../assets/chevron-right.svg"></v-img>
        </v-btn>
    </template>
        <v-carousel-item
            src="./src/assets/first-slide.png"
            cover
            class="img-filter"
        >
            <v-container class="h-100 d-flex align-center px-6">
                <div class="text-container">
                    <h2 class="text title-text">ПРАВИЛЬНЫЙ ПУТЬ</h2>
                    <h4 class="text text-roboto">к юридическому решению</h4>
                    <p class="text text-roboto py-4">Закон — это система правил, которые применяются с помощью социальных институтов для управления поведением.</p>
                    <div>
                        <v-btn :ripple="false" 
                        rounded="xl" 
                        size="large" 
                        class="text-roboto me-3 btn"
                        >Связаться</v-btn>
                        <v-btn :ripple="false" rounded="xl" size="large" variant="outlined" color="white" class="text-roboto btn">Посмотреть услуги</v-btn>
                    </div>
                </div>
            </v-container>
        </v-carousel-item>

        <v-carousel-item
            src="./src/assets/second-slide.png"
            cover
            class="img-filter"
        >
            <v-container class="h-100 d-flex align-center px-6">
                <div class="text-container">
                    <h2 class="text title-text">РЕЗУЛЬТАТЫ ИМЕЮТ ЗНАЧЕНИЕ</h2>
                    <h4 class="text text-roboto">мы делаем это возможным</h4>
                    <p class="text text-roboto py-4">Закон — это система правил, которые применяются с помощью социальных институтов для управления поведением.</p>
                    <div>
                        <v-btn :ripple="false" rounded="xl" size="large" class="text-roboto me-3 btn">Связаться</v-btn>
                        <v-btn :ripple="false" rounded="xl" size="large" variant="outlined" color="white" class="text-roboto btn">Посмотреть услуги</v-btn>
                    </div>
                </div>
            </v-container>
        </v-carousel-item>

        <v-carousel-item
            src="./src/assets/third-slide.png"
            cover
            class="img-filter"
        >
            <v-container class="h-100 d-flex align-center px-6">
                <div class="text-container">
                    <h2 class="text title-text">ЮРИДИЧЕСКАЯ СЛУЖБА</h2>
                    <h4 class="text text-roboto">стремится к успеху</h4>
                    <p class="text text-roboto py-4">Закон — это система правил, которые применяются с помощью социальных институтов для управления поведением.</p>
                    <div>
                        <v-btn :ripple="false" rounded="xl" size="large" class="text-roboto me-3 btn">Связаться</v-btn>
                        <v-btn :ripple="false" rounded="xl" size="large" variant="outlined" color="white" class="text-roboto btn">Посмотреть услуги</v-btn>
                    </div>
                </div>
            </v-container>
        </v-carousel-item>

        <v-carousel-item
            src="./src/assets/four-slide.png"
            cover
            class="img-filter"
        > 
            <v-container class="h-100 d-flex align-center px-6">
                <div class="text-container">
                    <h2 class="text title-text">ПРАВИЛЬНЫЙ ПУТЬ</h2>
                    <h4 class="text text-roboto">к юридическому решению</h4>
                    <p class="text text-roboto py-4">Закон — это система правил, которые применяются с помощью социальных институтов для управления поведением.</p>
                    <div>
                        <v-btn :ripple="false" 
                        rounded="xl" 
                        size="large" 
                        class="text-roboto me-3 btn"
                        >Связаться</v-btn>
                        <v-btn :ripple="false" rounded="xl" size="large" variant="outlined" color="white" class="text-roboto btn">Посмотреть услуги</v-btn>
                    </div>
                </div>
            </v-container>
        </v-carousel-item>
    </v-carousel>
</template>

<script>

</script>
<style scoped>

p.text-roboto{
        font-size: 16px;
        width: 80%;
    }
</style>
<style>
    .text-container{
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .text{
        color: white;
    }
    .text-roboto{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .title-text{
        font-size: 50px;
        font-weight: 400; 
        white-space: nowrap;
    }
    h4.text-roboto{
        font-size: 25px;
        font-weight: 400;
    }
    
    .btn:first-child .v-btn__content{
        color: black !important;
    }
    .btn:last-child .v-btn__content{
        color: white !important;
    }
</style>
